# System files
.DS_Store
Thumbs.db

# Node (Frontend)
node_modules/
.next/
.env.local

# Python (Backend)
__pycache__/
*.pyc
venv/
.env

# IDE
.vscode/
.idea/

#data for model training (2 GB)
/ai_module/data/
/.venv/
*.pt
