.jacket {
  pointer-events: auto;
  width: 100%;
}

.svg {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  width: 100%;
  aspect-ratio: 100 / 12;
  overflow: visible;
  display: block;
  font-size: 2.2rem;
  fill: rgba(255, 255, 255, 0.07);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}
